<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<ul>
  <li>
    <%= f.label :email %>
    <%= f.email_field :email, class:"form-control" %>
  </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password, class:"form-control" %>
  </li>
</ul>
  <%= f.submit "Log in", class: "btn btn-secondary" %>
<% end %>
