<h1>ユーザー登録</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, local: true) do |f| %>
<ul>
  <li>
    <%= f.label :profile_image %>
    <%= f.file_field :face %>
  </li>
  <li>
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </li>
  <li>
    <%= f.label :email %>
    <%= f.email_field :email, class:"form-control" %>
  </li>
  <li>
    <%= f.label :password %>
    <%= f.password_field :password, class:"form-control" %>
  </li>
  <li>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class:"form-control" %>
  </li>
</ul>
  <%= f.submit "Create my account",class: "btn btn-secondary" %>
<% end %>
