<!DOCTYPE html>
<html>
  <head>
    <title>Photos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="breadcrumb">
      <% if logged_in? %>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Profile", user_path(current_user.id) %></li>
        <li class="breadcrumb-item"><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
        <li class="breadcrumb-item"><%= link_to '新しく投稿する', new_picture_path %></li>
        <li class="breadcrumb-item"><%= link_to 'お気に入り一覧', favorites_path %></li>
        <% else %>
        <li class="breadcrumb-item"><%= link_to "Sign up", new_user_path %></li>
        <li class="breadcrumb-item"><%= link_to "Login", new_session_path %></li>
      </ol>
        <% end %>
    </nav>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
